body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 9px;
    background-color: gray;
}
img.imageheader{
    max-width: 20%;
    max-height: 20%;
}
table, th, td{
    border: 1px solid black;
}
footer{
    background-color: gray;
}       
img.imagefooter{
    padding: 9px;
    background-color: gray;
    max-width: 5%;
    max-height: 5%;
}
